
body {

    
    color:#ffffff;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    text-align: center;
    position: relative;
    background-color: #f0e8c5;
    margin:auto;
   
  }

  h1{color:#ffffff;
    font-family: Arial;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-align: center;
    margin:auto;
    position: relative;
    z-index: 2;

  }
  h2{color:#ffffff;
    font-style: italic;
    font-family: Arial;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
    text-align: center;
    margin:auto;
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
    z-index: 2;

  }
  
  
  div {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }